.input-group {
  position: relative;
  margin-bottom: 5px; 
}

.input-group input {
  width: 100%;
  padding: 8px 5px;  
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  box-sizing: border-box;
  line-height: 1.5; 
  color: black; 
}

.input-group input::placeholder {
  color: black;
  opacity: 1;
}

.input-group label {
  position: absolute;
  top: 22px;
  left: 5px;
  font-size: 16px;
  color: #aaa;
  transition: all 0.3s ease;
}

.input-group input:focus + label,
.input-group.has-value label {
  top: -20px;
  left: 5px;
  font-size: 12px;
  color: #74ab5c;
}

.input-group input:focus {
  outline: none;
  border-color: #74ab5c;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #f4f4f4 inset !important; 
    box-shadow: 0 0 0 1000px #f4f4f4 inset !important; 
    -webkit-text-fill-color: black !important; 
    border-color: #74ab5c !important; 
}

.input-group input:-webkit-autofill + label {
    top: -20px;
    left: 5px;
    font-size: 12px;
    color: #74ab5c;
}

  