.btn {
    padding: 15px 40px;
    font-size: 18px;
    color: white;
    background-color: #74ab5c;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #7cb657;
}

.btn:disabled {
    cursor: not-allowed;
}