.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: inherit;
}

.product-container {
    padding: 20px;
}

.product-form {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.save-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.product-list {
    margin-top: 30px;
}

.product-list h2 {
    margin-bottom: 10px;
}

.product-list input {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.product-item {
    display: flex;
    justify-content: space-between;
}

.product-item div {
    flex: 1;
}

.product-item .description {
    margin-left: 20px;
}

.view-more {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.search-bar {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    box-shadow: inherit;
}