.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 50px;
}

.navbar-left,
.navbar-center,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.navbar-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.navbar-right {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

button:hover {
    background-color: transparent;
    color: white;
}

button img {
    margin-right: 5px;
}

.search-bar {
    width: 100%;
    max-width: 400px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.login-button,
.cart-button {
    margin-left: 20px;
}