.store-section {
  text-align: center;
  padding-bottom: 20px;
}

.store-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.store-list::-webkit-scrollbar {
  height: 8px;
}

.store-list::-webkit-scrollbar-thumb {
  background-color: rgba(241, 238, 238, 0.5);
  border-radius: 10px;
}

.store-card {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: 2px solid #cfd1cf;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.store-card:hover {
  transform: scale(1.05);
}

.store-image-container {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.store-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.store-title {
  font-size: 1em;
  font-weight: bold;
  color: #000;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  background-color: #fff;
}